---
BasedOnStyle: LLVM
IndentWidth: 4
---
Language: Cpp
AccessModifierOffset: -2
AlignAfterOpenBracket: DontAlign
AlignArrayOfStructures: Right
AllowShortFunctionsOnASingleLine: None
BreakBeforeBraces: Stroustrup
BreakTemplateDeclarations: Yes
ConstructorInitializerIndentWidth: 2
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: <([A-Za-z0-9\Q/-_\E])+>
    Priority: 3
  - Regex: <([A-Za-z0-9.\Q/-_\E])+>
    Priority: 2
  - Regex: '"([A-Za-z0-9.\Q/-_\E])+"'
    Priority: 1
IntegerLiteralSeparator:
  Binary: 4
  BinaryMinDigits: 9
  Decimal: 3
  DecimalMinDigits: 5
  Hex: 4
  HexMinDigits: 9
QualifierAlignment: Left
